/* SHOP-INPUTS */

.shop-inputs {
	padding-top: 35px;
	padding-bottom: 35px;

	&__search {
		@include mq-down(lg) {
			margin-bottom: 15px;
		}
	}

	&__sort {
		@include mq-down(sm) {
			margin-bottom: 15px;
		}
	}
}