.promo
	.g-container
		.g-row
			.g-col-12.g-col-lg-6
				span.promo__logo
				.promo__header Diamond Life – Успех в Amway
			.g-col-12.g-col-lg-6.promo__links
				a.promo__google(href="#")
				a.promo__apple(href="#")

footer.footer
	.g-container
		.g-row
			ul.g-col-12.g-col-sm-6.g-col-lg-3.footer__list
				li.footer__item Информация
					li.footer__item
						a.footer__link(href="#") О компании
					li.footer__item
						a.footer__link(href="contact-info.html") Контактная информация
					li.footer__item
						a.footer__link(href="study-info.html") Обучающие материалы
					li.footer__item
						a.footer__link(href="author-rule.html") Авторские права
					li.footer__item
						a.footer__link(href="terms-of-use.html") Пользовательское соглашение

			ul.g-col-12.g-col-sm-6.g-col-lg-3.footer__list
				li.footer__item Инструкции
				li.footer__item
					a.footer__link(href="#") Продление подписки
				li.footer__item
					a.footer__link(href="site-rules.html") Условия использования сайта
				li.footer__item
					a.footer__link(href="#") Часто задаваемые вопросы

			.g-col-sm-12.footer__separator

			ul.g-col-12.g-col-sm-6.g-col-lg-3.footer__list
				li.footer__item Следите за нами:
				li.footer__item
					a.footer__link(href="#")
						span.footer__ico.footer__ico_fb
					a.footer__link(href="#")
						span.footer__ico.footer__ico_vk
				li.footer__item
					a.footer__link(href="#")
						span.footer__ico.footer__ico_fb
					a.footer__link(href="#")
						span.footer__ico.footer__ico_vk

			ul.g-col-12.g-col-sm-6.g-col-lg-3.footer__list
				li.footer__item Выбор языка:
				li.footer__item
					a.footer__link(href="#") Русский
				li.footer__item
					a.footer__link(href="#") English


.copyright
	.g-container
		.g-row
			.g-col-12.g-col-md-6 &copy; 2017 Diamond Alliance. Все права защищены.

			.g-col-12.g-col-md-6.copyright__aright
				div.copyright__logo