extends _layout/_template

block content
	.section.section-404
		.g-container.g-clearfix
			.section-404__container
				.section-404__header
					span.section-404__ico
					| 404
				.section-404__title Возможно, это случилось по одной из следующих причин:
				.section-404__text - Вы ошиблись при наборе адреса страницы (URL).
				.section-404__text - Вы перешли по «битой» (неработающей, неправильной) ссылке.
				.section-404__text - Запрашиваемой страницы никогда не было на сайте или она была удалена.
				p Мы просим прощения за доставленные неудобства.
			img.section-404__img(src="img/404-man.svg")